@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
#root{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);;
}

.App {
  text-align: center;
}

.App-header {
  
  background-color: #ffffff;
  padding: 10px 30px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.377);
  position: sticky;
  top: 0;
}


/* NAVBAR */
.nav{
  width: 100%;
  display: flex;
  align-items: center;
}

.navBrand{
 width: 150px;

}

.navLinks{
  margin-left: auto;
}

.navLinks ul li{
  display: inline; 
  list-style: none;
  margin-left: 10px;
}

.navLinks ul li a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}

.navLinks ul{
  display: flex;
  justify-content: space-around;
}


.iconCart{
  width: 35px;
  margin-left: 10px;
}

.cartWidget{
  position: relative;
}
.iconCartCount{
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: greenyellow;
  color: rgb(0, 70, 221);
  position: absolute;
  right: -15px;
  top: -25px;
  text-align: center;
  vertical-align: middle;
  font-weight: 800;
  font-size: 0.8rem;
}

/* item List*/

.itemList{
  width: 75%;
  min-height: 75vh;
  margin:auto;
  padding: 50px 0;

}

/* cards items*/

.cardContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card{
  background-color: white;
  box-shadow: 0px 0px 21px 4px rgba(0,184,240,0.9);
  width: 250px;
  height: 320px;
  overflow: hidden;
  margin: 20px;
  border-radius: 2px;
}

.cardImg{
  width: 100%;
  height:65%;
  object-fit: contain;
  align-content: center;
  display: block;
  overflow: hidden;
}

.cardBody{
  height: 35%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cardBody p{
  margin: 0;
}

.cardTitle{
  font-size: 1rem;
  margin: 10px 0 10px 0; 
}

/* Counter*/ 

.counter{
  display: flex;
}

.itemStock {
  margin-left: 10px;
}

.itemCount{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.qtyCounter{
  width: 20px;
}

.btnCounter{
  width: 30px;
  height: 30px;
  background-color: rgb(0, 195, 255);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 94, 122, 0.9);
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(92, 92, 92);
}

.btnCounter:hover{
  background-color: rgb(208, 244, 255);
  border-color: rgb(0, 90, 150);
}

.btn{
  text-transform: uppercase;
  background-color: rgb(0, 195, 255);
  border-radius: 5px;
  border: 2px solid rgb(0, 192, 250);
  height: 25px;
  font-weight: 700;
  box-shadow: 1px 1px 3px rgba(0, 94, 122, 0.9);
  color: rgb(92, 92, 92);
  margin: 10px 0;
}

.btn:hover{
  background-color: rgb(208, 244, 255);
  border-color: rgb(0, 90, 150);
  border: 2px solid rgb(0, 94, 202);
}

.btn:disabled{
  background-color: rgb(233, 250, 255);
}

/* item detail*/

.itemDetailContainer{
  margin: auto;
  width: 70%;
  min-height: 75vh;
  text-align: center;
  padding: 50px 0;
}

.itemDetail{
  margin: 2rem ;
}
.itemDetailBody{
  display: flex;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 21px 4px rgba(0,184,240,0.9);
  border-radius: 2px;
}

.detailImg{
  display: block;
  height: 100%;
  width: 50%;
  object-fit: contain;
  align-content: center;
  box-sizing: border-box;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.418);
}

.itemDetailInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartContainer{
  width: 75%;
  margin: auto;
  min-height: 80vh;
  text-align: center;
  padding: 50px 0;
  /* color: rgb(0, 238, 226); */
  text-shadow:
  0 0 2px rgba(0,178,255,1),
  0 0 4px rgba(0,178,255,1),
  0 0 10px rgba(0,178,255,1);
}

.cartRowContainer{
  box-shadow: 0px 0px 21px 4px rgba(0,184,240,0.9);
  border-collapse: separate;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.cartRowContainer table{
  width: 100%;
  font-weight: 700;
  text-shadow: none;
}

.cartRowInfo td{
  width: 20%;
}

.cartItemImg{
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  align-content: center;
}

/* cartTotal*/

.cartTotal{
  /* background-color: white; */
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  text-shadow:
  0 0 2px rgba(0,178,255,1),
  0 0 4px rgba(0,178,255,1),
  0 0 8px rgba(0,178,255,1);
}

.CartTotalPrice{
  font-weight: 700;
  font-size: 1.2rem;
}
.cartOrderContainer{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin:auto;
}

.cartOrderContainer input{
  border: 2px solid rgb(0, 195, 255);
  text-align: center;
  height: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 2px rgba(0,184,240,0.9);
  
}

.cartOrderContainer input:focus-visible{
  outline-color: rgb(0, 247, 255);
}

.cartOrderSended{
  display: flex;
  flex-direction: column;
}

.cartOrderSended span{
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

/* footer */

.footerContainer{
  background-color: rgb(0, 0, 0);
  display: flex;
  padding:15px 0;
  align-items: center;
  justify-content: center;
}

.footerLink{
  color: white;
  text-decoration: none;
  font-weight: 400;
}



/* Estilos Generales*/

h2{
  text-transform: uppercase;
}

.bold{
  font-weight: 700;
}
.neon {
	text-shadow:
		0 0 2px rgba(0,178,255,1),
		0 0 4px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1);
}

.my-0{
  margin-top: 0;
  margin-bottom: 100px;
  text-align: center;
  padding-left: 50px;
}

/* spinner*/

.spinner {
  --color: rgb(0 255 155);
  --fade-color: rgba(0 255 155 / 50%);
  --scale: 1;
  --x-speed: 1;
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  top:250px;
  transform: scale(var(--scale)) rotateZ(0);
  animation: ps-spin calc(15s / var(--x-speed)) linear infinite;
  margin: auto;
  
}

@keyframes ps-spin {
  from {
      transform: scale(var(--scale)) rotateZ(0);
  }
  to {
      transform: scale(var(--scale)) rotateZ(-360deg);
  }
}

.spinner span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner span::before,
.spinner span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%) scale(.3);
  background-color: rgba(var(--color) / 50%);
  border-radius: 50%;
  animation: ps-spinner-scale calc(1.2s / var(--x-speed)) linear infinite
}

@keyframes ps-spinner-scale {
  0% {
      background-color: var(--fade-color);
      transform: translateY(-50%) scale(.3);
  }
  25% {
      background-color: var(--color);
      transform: translateY(-50%) scale(1);
  }
  80% {
      background-color: var(--fade-color);
      transform: translateY(-50%) scale(.3);
  }
  100% {
      background-color: var(--fade-color);
      transform: translateY(-50%) scale(.3);
  }
}

.spinner span::before {
  left: 0;
}

.spinner span::after {
  right: 0;
}

.spinner span:first-of-type {
  transform: rotateZ(-45deg);
}

.spinner span:last-of-type {
  transform: rotateZ(45deg);
}

.spinner span:nth-of-type(2) {
  transform: rotateZ(90deg);
}

.spinner span:nth-of-type(3)::after {
  animation-delay: calc(0.15s / var(--x-speed));
}
.spinner span:last-of-type::after {
  animation-delay: calc(.3s / var(--x-speed));
}
.spinner span:nth-of-type(2)::after {
  animation-delay: calc(.45s / var(--x-speed));
}
.spinner span:first-of-type::before {
  animation-delay: calc(.6s / var(--x-speed));
}
.spinner span:nth-of-type(3)::before {
  animation-delay: calc(.75s / var(--x-speed));
}
.spinner span:last-of-type::before {
  animation-delay: calc(.9s / var(--x-speed));
}
.spinner span:nth-of-type(2)::before {
  animation-delay: calc(1.05s / var(--x-speed));
}

