@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #e0e0e0;
  padding: 10px 30px;
}


/* NAVBAR */
.nav{
  width: 100%;
  display: flex;
  align-items: center;
}

.navBrand{
 width: 80px;
}

.navLinks{
  width: 20%;
  margin-left: auto;
}

.navLinks ul li{
  display: inline; 
  list-style: none;
}

.navLinks ul li a{
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.navLinks ul{
  display: flex;
  justify-content: space-around;
}

.iconCart{
  width: 35px;
}

/* seccion catalogo*/

.catalogue{
  width: 75%;
  margin:auto;
  height: 85vh;
  padding-top: 2%;
  background-image: url(./components/images/backCatalogue.jpg);
  background-position: center;
  background-size: cover;
  
}


/* Estilos Generales*/
.my-0{
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  padding-left: 50px;
}


